{% load static %}
    
    <div class="row question">
    <div class="col-3">
        <img src="../../{{answer.author.avatar}}" class="avatar-content" />
        <div class="row">
        <div class="col-3"></div>
        <div class="col-4">
            <div class="count">{{answer.rating}}</div>
        </div>
        <div class="col-5"></div>
        </div>
        <div class="row">
        <div class="col-md-auto">
            <button type="button" class="btn btn-success btn-sm">Like</button>
        </div>
        <div class="col-1">
            <!--Костыль-->
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-danger btn-sm">Dislike</button>
        </div>
        </div>
    </div>
    <div class="col-9">
        <div>
            {{answer.text}}
        </div>
        <label class="container">
        <input type="checkbox" />
        <span class="checkmark">Correct!</span>
        </label>
    </div>
    </div>