<div class="blocks">
	<h2>Popular tags</h2>
	<div class="row"> perl <font class="nln red">python</font> Technopark </div>
	<div class="row"> <font class="nln red">MySQL</font> <font class="nln green">django</font> </div>
	<div class="row"> Mail.ru Voloshin <font class="nln yellow">firefox</font> </div>
</div>

<div class="blocks">
	<h2>Best members</h2>
	<div class="row"> <a href="#">Mr.Dog</a> </div>
	<div class="row"> <a href="#">Mr.Cat</a> </div>
	<div class="row"> <a href="#">Ms.Sheep</a> </div>
	<div class="row"> <a href="#">A.Shirshov</a> </div>
	<div class="row"> <a href="{% url "ask" %}">Wanna ASK?</a> </div>
</div>