{% load static %}

<div class="row question">
  <div class="col-3">
    <img src="../../{{question.author.avatar}}" class="avatar-content">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-4">
        <div class="count">{{question.rating}}</div>
      </div>
      <div class="col-5"></div>
    </div>
    <div class="row">
      <div class="col-md-auto">
        <button type="button" class="btn btn-success btn-sm">Like</button>
      </div>
      <div class="col-1">
        <!--Костыль-->
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger btn-sm">Dislike</button>
      </div>
    </div>
  </div>
  <div class="col-9">
    <a href="{% url "one_question" pk=question.id %}" style="text-decoration: none">
      <h2> {{question.title}}</h2>
    </a>
    <div>
    {{question.text}}
    </div>
    <a href="#">answer({{question.answers.count}})</a>
    Tags:<a href="{% url "tag" tag=question.tags.first %}">{{question.tags.first}}</a> 
  </div>
</div>