{% extends "include/base.html" %} {% load static %}
<!--Content-->

{% block article_name %}
<div class="col-3">
	<h2>Login</h2> </div> 
  
{% endblock article_name %} 
  
{% block content %}
<div class="row">
	<div class="col-8">
		<div class="row">
			<h6 style ="color:red">You have done a mistake</h6>
			<div class="row">
				<div class="col-2 form-label">
					<h5>Login</h5> </div>
				<div class="col-8">
					<input type="text" class="form-control" placeholder="Enter your login here" aria-label="Login" aria-describedby="basic-addon1"> </div>
			</div>

			<div class="row">
				<div class="col-2 form-label">
					<h5>Password</h5> </div>
				<div class="col-8">
					<input type="password" placeholder="Enter your password here" class="form-control"> </div>
			</div>
		</div>

		<div class="row" style="margin-top:10px">
			<div class="col-2 form-label"> </div>
			<div class="col-1">
				<input class="btn btn-primary" type="submit" value="Login"> </div>
			<div class="row">
				<div class="col-2 form-label"> </div>
				<div class="col-5"> <a href="{% url "singup" %}">Create new account</a> </div>
			</div>
		</div>
	</div>
</div> 
{% endblock content %}