{% extends "include/base.html" %} {% load static %}

<!--Content-->
{% block content %}

  {% include "include/template_mainquestion.html" %}

  {% for answer in answers %}
    {% include "include/answer.html" %}
   {% endfor %}
  
  {% include "include/pagination_answers.html" %}


<div class="mb-3 upperline">
  <label for="exampleFormControlTextarea1" class="form-label"></label>
  <textarea
    class="form-control"
    type="text"
    placeholder="Enter your answer here..."
    id="exampleFormControlTextarea1"
    rows="3"
  ></textarea>
</div>
<button type="button" class="btn btn-primary">Answer</button>
{% endblock content%}
