{% extends "include/base.html" %} {% load static %}
<!--Content-->

{% block article_name %}
<div class="col-3">
	<h2>Registration</h2> </div>
{% endblock article_name %}

   {% block content%}
		<div class="row">

			<div class="row">
				<div class="col-3 form-label">
					<h5>Login</h5> </div>
				<div class="col-8">
					<input type="text" class="form-control" placeholder="Enter your login here" aria-label="Login" aria-describedby="basic-addon1"> </div>
			</div>

			<div class="row">
				<div class="col-3 form-label">
					<h5>Email</h5> </div>
				<div class="col-8">
					<input type="Email" class="form-control"> </div>
			</div>

			<div class="row">
				<div class="col-3 form-label">
					<h5>Nickname</h5> </div>
				<div class="col-8">
					<input type="text" class="form-control"> </div>
			</div>

			<div class="row">
				<div class="col-3 form-label">
					<h5>Password</h5> </div>
				<div class="col-8">
					<input type="password" class="form-control"> </div>
			</div>

			<div class="row">
				<div class="col-3 form-label">
					<h5>Repeat Password</h5> </div>
				<div class="col-8">
					<input type="password" class="form-control"> </div>
			</div>

			<div class="row">
				<div class="col-3 form-label">
					<h5>Upload avatar</h5> </div>
				<div class="col-8">
					<input class="form-control" type="file" id="formFile"> </div>
			</div>
		</div>

		<div class="row" style="margin-top:10px">
			<div class="col-3 form-label"> </div>
			<div class="col-1">
				<input class="btn btn-primary" type="submit" value="Save"> </div>
		</div>
{% endblock content%}