<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/my-css.css" rel="stylesheet">


  </head>

  <!--Navbar-->
  <body class="d-flex flex-column h-100">
  <header style="margin-bottom:10px">
    <nav class="navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-1">
              <a href="./index.html" class="navbar-brand logo-font"><span class="ask-color">Ask</span>Shirshov</a>
            </div>
            <div class="col-3"> </div>
            <div class="col-4">
              <form class="d-flex search-padding">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ask</button>
              </form>
            </div>
            <div class="col-2"> </div>
            <div class="col-1">
              <img class="avatar" src="../static/img/dog.jpg" class="img-thumbnail">
            </div>
            <div class="col-1">
              <div class="row">
                <div>Mr.Dog</div>
              </div>
              <div class="row">
                <div class="col-6">
                  <a href="./settings.html">Settings</a>
                </div>
                <div class="col-6">
                  <a href="./login.html">Logout</a>
                </div>
            </div>
          </div>
        </div>
    </nav>
  </header>

  <!--Content-->
  <main class="flex-shrink-0">
    <div class="container">
    
    <!-- Body head-->
      <div class="row blocks">
        <h2>Settings:Mr Dog</h2>
      </div>

        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="row">
                        <div class="col-2 form-label">
                            <h5>Login</h5>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-2 form-label">
                            <h5>Email</h5>
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2 form-label">
                            <h5>Nickname</h5>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2 form-label">
                            <h5>Upload avatar</h5>
                        </div>
                        <div class="col-8">
                            <img src="../static/img/dog.jpg" class="avatar-content">
                            <input class="form-control" type="file" id="formFile">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:10px">
                    <div class="col-2 form-label">
                    </div>
                    <div class="col-1">
                        <input class="btn btn-primary" type="submit" value="Save">
                    </div>
                </div>
            </div>
        
            <!--Tags-->
            <div class="col-4 tags">
              <div class="blocks">
                <h2>Popular tags</h2>
                <div class="row">
                  perl 
                  <font class="nln red">python</font>
                  Technopark
                </div>
                <div class="row">
                  <font class="nln red">MySQL</font> <font class="nln green">django</font>
                </div>
                <div class="row">
                  Mail.ru Voloshin <font class="nln yellow">firefox</font>
                </div>
              </div>
                
                <div class="blocks">
                    <h2>Best members</h2>
                    <div class="row">
                        <a href="#">Mr.Dog</a>
                    </div>
                    <div class="row">
                        <a href="#">Mr.Cat</a>
                    </div>
                    <div class="row">
                        <a href="#">Ms.Sheep</a>
                    </div>
                    <div class="row">
                        <a href="#">A.Shirshov</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
      <footer class="footer mt-auto py-3 bg-secondary">
         <div class="container">
            <span>Created by A.Shirshov 2021</span>
         </div>
      </footer>
      <script src="js/bootstrap.bundle.min.js"   
  </body>
</html>